body {
    /*I'm a CSS comment! */
    color: darkslategrey;
    font-family: Helvetica, Arial, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
}
header a {
    text-decoration: none;
    color: whitesmoke;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px; 
    font-weight: lighter;
    font-size: 1.55vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 60px;
}
h2 {
    border-right: darkslategrey;
    border-width: 100px;
}
.topImage {
    background-image: url("../images/monolith-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height: 200px;
}
.topImageText {
    color: whitesmoke;
    margin: 140px 80px; 
}

.aboutMe {
    display:flex;
    padding: 100px;
}
.aboutMeTitle {
    font-size: 35px;
    padding: 20px;
    flex:1;
}
.aboutMeText {
    border-left: 5px solid;
    flex:5;
    padding: 30px;
    font-size: 18px;
}
.workContainer {
    display: flex;
    padding: 100px;
}
.projectsTitle {
    font-size:35px;
    flex:1;
    padding: 20px;
}
.projectsContainer {
    border-left: 5px solid;
    flex: 5;
    padding: 30px;
}
.runBuddyContainer {
    flex: 5;
    padding: 20px; 
}




@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%
    }
    .hero-cta, .hero-form {
        width: 100%;
    }
    .hero-cta {
        text-align: center;
    }
    .section-title {
        width: 80%;
    }
    .trainer {
        flex: 0 70%;
    }
    .contact-info iframe {
        flex: 1 100%;
    }
}
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    .step-image {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .step-text {
        flex: 100%;
    }
}
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }
    .section-title {
        width: 90%;
    }
    .intro p {
        width: 100%;
    }
    .trainer {
        flex: 0 100%;
    }
    .contact-info {
        text-align: center;
    }
    .contact-info > * {
        flex: 0 100%;
    }
    .contact-form {
        order: 3;
    }
}